// Bootstrap brand color customization

/*     brand Colors              */

$brand-primary: $blue-my500 !default;
$brand-info: $blue-200 !default;
$brand-success: $yellow-800 !default;
$brand-warning: $yellow-800 !default;
$brand-danger: $blue-my500 !default;
$brand-rose: $yellow-900 !default;
$brand-inverse: $black-color !default;
