<div class="main-content">
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="row">
        <div class="card card-chart">
          <div class="card-header card-header-icon card-header-warning">
            <div class="card-icon">
              <i class="material-icons">pie_chart</i>
            </div>
            <h4 class="card-title">Statistiques</h4>
          </div>
          <div class="card-body">
            <div id="chartPreferences" class="ct-chart"></div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-md-12">
                <i class="fa fa-circle text-info"></i> Fraisage
                <i class="fa fa-circle text-warning"></i> Impression 3D
                <i class="fa fa-circle text-success"></i> Découpe Laser
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
