<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">article</i>
            </div>
            <p class="card-category">Demandes</p>
            <h3 class="card-title">
              3
            </h3>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">attach_money</i>
            </div>
            <p class="card-category">Prix Total</p>
            <h3 class="card-title">
              12,5
              <small> Dinars </small>
            </h3>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-primary card-header-icon">
            <img
              src="../../../assets/img/Tech/fraisage.png"
              class="card-img-top mt-2"
              alt="..."
            />
            <p class="card-category">Fraisage</p>
            <h3 class="card-title">
              3
            </h3>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-primary card-header-icon">
            <img
              src="../../../assets/img/Tech/laser.png"
              class="card-img-top mt-2 cardPad"
              alt="..."
            />

            <p class="card-category">Découpe Laser</p>
            <h3 class="card-title">
              2
            </h3>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-primary card-header-icon">
            <img
              src="../../../assets/img/Tech/impression.png"
              class="card-img-top mt-2 cardPad"
              alt="..."
            />
            <p class="card-category">Impression 3D</p>
            <h3 class="card-title">
              1
            </h3>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
    <app-charts-cmp></app-charts-cmp>
  </div>
</div>
